html {
  display: block;

}

body {
  display: block;
  font-size: small;
  font-family: arial, sans-serif;
  color: #4d4d4d;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: block;
}

.header, .footer {
  display: inline-block;
  position: absolute;
}

.header {
  top: 0;
  left: 0;
  right: 0;
}

.clickhl, .clickhr, .clickfl, .clickfr {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

#logo {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -135px;
}

input {
  border-radius: 2px;
}

#inputbar {
  position: absolute;
  width: 440px;
  top: 326px;
  padding: 12px 20px;
  box-shadow: 0 1px 1px 1px #d9d9d9;
  border: 1px solid #d9d9d9;
}

.searchbar {
  position: absolute;
  left: 50%;
  margin-left: -240px;
}

.searchbutton {
  position: absolute;
  top: 400px;
  left: 50%;
  margin-left: -131px;
}

.searchbutton form input {
  border: 1px solid #f2f2f2;
  color: #737373;
  font-weight: bold;
  text-align: center;
  padding: 10px 13px;
  margin: 0px 2px;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #e6e6e6;
  padding: 13.5px 25px;
}

.footlink {
  margin-left: 13px;
  margin-right: 13px;
}

.footer .left ul {
  position: relative;
  left: -8px;
  bottom: 1px;
}

.footer .right ul {
  position: relative;
  right: -8px;
  bottom: 1px;
}
